<% if (flash.success.length) { %>
  <div class="container flash flash-success"><%= flash.success[0] %></div>
<% } %>
<% if (flash.error.length) { %>
  <div class="container flash flash-error"><%= flash.error[0] %></div>
<% } %>
